Dobrý den,<br>
<br>
Odpovídáme na Váš dotaz zaslaný prostřednictvím kontaktního formuláře na našich webových stránkách.<br>
Vaše původní zpráva:<br>
{$message|breaklines}<br>
<br>
Naše odpověď:<br>
{$respond|breaklines}<br>
<br>
Pokud máte další otázky, neváhejte nás kontaktovat.<br>
<br>
S pozdravem,<br>
Tým Matodo<br>