Dobrý den,<br>
<br>
váš rezervační požadavek byl úspěšně přijat. Níže naleznete podrobnosti o vaší rezervaci:<br>
<br>
<strong>Jméno a příjmení:</strong> {$customer_name}<br>
Datum výletu: {$date|date:'j. n. Y'}<br>
Pro počet osob: {$guests}<br>
Poznámka: {$note|breaklines}<br>
Výlet: {$trip_name}<br>
Místo vyzvednutí: {$pickup_point}<br>
Cena za osobu: {$trip_price} USD<br>
<br>
Brzy se Vám ozveme s potvrzením a dalšími informacemi.<br>
S pozdravem,<br>
Tým Matodo
